---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/Sections/HeroSection.astro";
// import EventList from "../components/Sections/EventList.astro";
import Comments from "../components/Sections/Comments.astro";
import WorkshopList from "../components/Sections/WorkshopList.astro";
import Button from "../components/UI/Button.astro";
---
<!-- Construyamos juntos un camino con sentido -->
<!-- Si estás en una etapa de decisiones importantes o notas que algo no va bien en el proceso educativo, este espacio es para ti. -->

<BaseLayout>
  <HeroSection 
    title="Cada historia merece ser escuchada con respeto y presencia, en un espacio en donde tu experiencia, tiene un lugar y tu voz importa."
    subtitle="Te ofrezco un espacio de escucha auténtica y sin juicios en donde puedas reconectar contigo mismo a tu ritmo y junstos explorar lo que hoy necesita ser visto."
    backgroundImage="/uploads/hero-1.jpg"
    ctaText="Contáctame"
    ctaLink="https://wa.link/83mmtt"
    secondaryCtaText="Servicios"
    secondaryCtaLink="/servicios"
  />
  
  <!-- Service Times -->
  <!-- <section class="py-16 bg-white">
    <div class="container">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-3xl md:text-4xl font-bold mb-6">Join Us This Sunday</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
          <div class="bg-gray-50 p-8 rounded-lg shadow-sm">
            <h3 class="text-xl font-bold mb-3">Morning Service</h3>
            <p class="text-2xl font-bold text-primary-600 mb-2">8:00 AM</p>
            <p class="text-gray-600 mb-4">Traditional service with hymns and choir</p>
            <p class="italic text-gray-500">In-person & Livestream</p>
          </div>
          
          <div class="bg-gray-50 p-8 rounded-lg shadow-sm">
            <h3 class="text-xl font-bold mb-3">Family Service</h3>
            <p class="text-2xl font-bold text-primary-600 mb-2">10:30 AM</p>
            <p class="text-gray-600 mb-4">Contemporary worship with children's ministry</p>
            <p class="italic text-gray-500">In-person only</p>
          </div>
        </div>
        
        <Button href="/im-new" variant="outline">
          Plan Your Visit
        </Button>
      </div>
    </div>
  </section> -->
  
  <!-- About Section -->
  <section class="py-16 bg-gray-50">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
        <div>
          <img 
            src="/uploads/acerca-de-mi.jpg" 
            alt="Acerca de mí" 
            class="rounded-lg shadow-lg object-cover w-full h-full"
          />
        </div>
        
        <div>
          <h2 class="text-3xl md:text-4xl font-bold mb-6">Acerca de mí</h2>
          <p class="text-gray-700 mb-6 text-lg">
            Soy licenciada en Psicología, con más de 30 años de experiencia ofreciendo terapia emocional y acompañamiento, tanto 
            en consulta privada como en diversas instituciones educativas. Tengo especialización en Terapia Familiar y de Pareja con enfoque Sístematico
            , y cuento con formación Tanatológica. Además, obtuve una Maestría en Terapia Existencial y Fenomenológica. Mi formación y experiencia en vida me han permitido acompañar 
            son sensibilidad y respeto los diversos procesos de múltiples personas.
          </p>
          <p class="text-gray-700 mb-8 text-lg">
            Mi compromiso es ofrecer un espacio terapeutico seguro, empaticoy respetuoso, en donde
            cada persona pueda explorar y comprender su experiencia de vida desde una mirada
            profunda y humana.
          </p>
          
          <Button href="/acerca-de-mi">
            Más acerca de mí
          </Button>
        </div>
      </div>
    </div>
  </section>

<!--  Service Preview -->
  <section class="py-16 bg-gray-50">
    <div class="container">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Mis servicios</h2>
        <p class="text-xl text-gray-600 max-w-3xl mx-auto">
          Ofrezco acompanamiento terapeutico en modalidad virtual, brindando un espacio seguro,
          empatico y respetuoso para quienes buscan comprension, claridad y transformacion
          personal.
        </p>
      </div>
      
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="card text-center p-8">
          <div class="w-20 h-20 mx-auto mb-4 rounded-full bg-primary-100 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-primary-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </div>
          <h3 class="text-xl font-bold mb-3">Terapia Individual</h3>
          <p class="text-gray-700 mb-4">
            Un espacio para habitar tu experiencia, darle sentido a lo vivido y reconectar contigo mismo
          </p>
          <a href="/servicios/terapia-individual" class="text-primary-600 font-medium hover:text-primary-700">
            Ver más →
          </a>
        </div>
        
        <div class="card text-center p-8">
          <div class="w-20 h-20 mx-auto mb-4 rounded-full bg-secondary-100 flex items-center justify-center">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path d="M432.378,256.811c-0.079-0.02-0.158-0.039-0.237-0.057l-14.984-3.341l13.441-7.684c0.186-0.106,0.369-0.219,0.547-0.337
                    c11.784-7.781,19.529-21.711,20.718-37.264c0.02-0.254,0.029-0.508,0.029-0.763v-28.343c4.181-7.672,15.565-31.7,15.565-65.906
                    c0-42.682-34.424-86.829-92.03-86.829c-19.169,0-35.167,4.819-48.709,14.706c-16.192-4.377-34.044,3.757-48.897,22.683
                    c-14.979,19.083-18.344,40.633-17.131,59.359c-14.501-46.067-57.612-79.57-108.405-79.57h-5.178
                    c-17.599,0-34.473,3.917-50.154,11.643C92,57.551,89.962,63.545,92.403,68.5c2.441,4.955,8.436,6.992,13.39,4.551
                    c12.908-6.359,26.808-9.584,41.315-9.584h5.178c51.622,0,93.619,41.997,93.619,93.618v39.485c0,9.452-1.981,18.528-5.842,27.025
                    c-6.58,1.685-12.747,4.401-18.341,7.944c2.832-5.39,4.624-11.503,5.116-17.939c0.02-0.254,0.029-0.508,0.029-0.763v-64.422
                    c0-3.766-2.116-7.213-5.474-8.917c-3.357-1.705-7.388-1.378-10.429,0.845c-8.578,6.273-18.775,9.589-29.489,9.589
                    c-20.533,0-39.251-12.892-46.576-32.08c-1.336-3.5-4.516-5.959-8.238-6.372c-3.727-0.418-7.365,1.287-9.436,4.409
                    c-7.832,11.801-20.983,18.886-35.181,18.951c-5.505,0.025-9.954,4.495-9.954,10v67.997c0,0.254,0.01,0.509,0.029,0.762
                    c1.038,13.575,7.891,25.797,18.334,32.693c0.175,0.115,0.354,0.226,0.537,0.33l14.616,8.381v5.609l-3.446-0.711
                    c-28.669-7.601-48.671-33.606-48.671-63.332v-39.485c0-13.848,2.949-27.174,8.765-39.609c2.34-5.003,0.181-10.955-4.822-13.295
                    c-5.002-2.339-10.955-0.181-13.294,4.822c-7.066,15.107-10.648,31.284-10.648,48.082v39.485c0,25.889,11.638,49.606,30.498,65.478
                    C25.628,278.252,0,315.966,0,358.738v116.975c0,5.508,4.454,9.974,9.957,9.998c0,0,0.001,0.001,0.001,0.002h196.909
                    c5.523,0,10-4.478,10-10c0-5.522-4.477-10-10-10h-33.403v-52.909c0-24.321,16.422-45.407,39.958-51.334l20.106-4.28
                    c6.999,2.618,14.57,4.059,22.473,4.059c7.794,0,15.267-1.396,22.185-3.945l20.432,4.176c23.516,5.94,39.92,27.017,39.92,51.324
                    v52.909h-35.589c-5.523,0-10,4.478-10,10c0,5.522,4.477,10,10,10H502c5.523,0,10-4.478,10-10V358.749
                    C512,310.387,479.258,268.468,432.378,256.811z M101.245,229.449c-5.038-3.451-8.517-9.921-9.155-17.023v-58.424
                    c11.731-1.938,22.606-7.167,31.396-15.029c12.807,18.976,34.554,30.96,57.99,30.96c8.813,0,17.382-1.607,25.392-4.721v47.214
                    c-0.64,7.149-4.071,13.617-9.03,17.021l-40.231,22.998c-0.187,0.106-0.369,0.219-0.548,0.337c-4.815,3.182-10.341,3.183-15.16,0
                    c-0.175-0.115-0.354-0.226-0.537-0.33L101.245,229.449z M203.047,249.505c-4.538,6.591-7.869,14.066-9.696,22.11v-16.567
                    L203.047,249.505z M173.351,266.481v23.718c-13.861,11.254-33.883,11.254-47.744,0v-23.727l5.555,3.185
                    c5.665,3.664,11.991,5.497,18.316,5.497c6.324,0,12.648-1.831,18.311-5.494L173.351,266.481z M209.084,341.943
                    c-0.111,0.026-0.221,0.051-0.331,0.079c-32.553,8.094-55.289,37.201-55.289,70.782v52.909H77.849v-64.647c0-5.522-4.477-10-10-10
                    s-10,4.478-10,10v64.647H20V358.738c0-39.143,26.493-73.068,64.427-82.502c0.644-0.16,1.256-0.382,1.835-0.653
                    c3.571,1.477,7.268,2.737,11.089,3.734c0.167,0.044,0.336,0.083,0.505,0.118l7.615,1.571c0.045,0.009,0.09,0.012,0.136,0.021
                    v13.601c0,2.652,1.054,5.196,2.929,7.071c11.288,11.287,26.115,16.931,40.943,16.931s29.655-5.644,40.943-16.931
                    c0.536-0.536,0.997-1.132,1.393-1.764c0.717,16.227,7.498,30.9,18.129,41.825L209.084,341.943z M293.554,76.025
                    c10.529-13.416,21.963-18.92,30.59-14.723c3.578,1.742,7.849,1.195,10.874-1.389c6.844-5.85,18.479-13.625,40.41-13.625
                    c45.087,0,72.03,33.979,72.03,66.829c0,14.732-2.466,27.291-5.327,36.905c-7.302-11.246-21.087-24.319-45.702-24.319
                    c-19.705,0-34.373-6.36-46.161-20.017c-1.917-2.222-4.69-3.466-7.569-3.466c-0.571,0-1.147,0.049-1.721,0.149
                    c-3.464,0.604-6.356,2.984-7.616,6.268c-1.559,4.063-10.777,8.553-17.507,11.83c-6.245,3.042-12.144,5.915-16.538,9.8
                    c-5.954,5.262-10.684,10.183-14.39,14.499C279.798,127.061,275.901,98.518,293.554,76.025z M265.717,150.638
                    c2.609,8.842,5.489,15.382,6.861,18.28v38.448c0,0.255,0.01,0.509,0.029,0.763c0.456,5.963,1.901,11.689,4.172,16.931
                    c-4.678-1.604-9.594-2.689-14.685-3.171c2.527-8.139,3.81-16.611,3.81-25.319v-39.485
                    C265.904,154.921,265.837,152.772,265.717,150.638z M256,241.593c20.615,0,37.982,14.167,42.878,33.277
                    c-0.543,0.243-1.075,0.53-1.583,0.878c-5.433,3.723-11.891,5.69-18.676,5.69c-12.976,0-24.749-7.498-29.295-18.658
                    c-1.377-3.382-4.489-5.744-8.117-6.162c-3.63-0.418-7.194,1.176-9.305,4.155c-4.062,5.736-10.499,9.526-17.714,10.594
                    C220.201,254.057,236.667,241.593,256,241.593z M300.259,297.076c0,24.357-19.854,44.173-44.258,44.173
                    s-44.259-19.815-44.259-44.173v-5.426c9.688-0.347,18.884-3.571,26.388-9.076c9.576,11.639,24.512,18.864,40.49,18.864
                    c7.571,0,14.91-1.556,21.639-4.541V297.076z M292.578,206.959v-39.016c2.431-3.928,8.449-12.495,19.985-22.689
                    c2.355-2.082,7.284-4.482,12.05-6.805c6.458-3.146,13.432-6.542,18.933-11.209c14.252,12.406,31.661,18.464,52.883,18.464
                    c12.786,0,22.231,4.948,28.874,15.127c4.429,6.787,6.127,13.82,6.59,16.095v30.034c-0.795,9.174-5.08,17.198-11.527,21.581
                    l-47.62,27.224c-0.187,0.106-0.369,0.219-0.548,0.337c-6.239,4.121-13.688,4.121-19.927,0c-0.175-0.115-0.354-0.226-0.537-0.33
                    l-47.482-27.227C297.807,224.162,293.363,215.945,292.578,206.959z M339.076,271.567l2.457,1.408
                    c6.4,4.15,13.552,6.227,20.703,6.227c7.149,0,14.297-2.074,20.697-6.223l3.887-2.222v19.442
                    c-13.861,11.254-33.883,11.254-47.744,0V271.567z M319.075,260.097v13.513c-1.152-5.945-3.129-11.596-5.801-16.839
                    L319.075,260.097z M492,465.713h-47.233v-64.647c0-5.522-4.477-10-10-10s-10,4.478-10,10v64.647h-66.23v-52.909
                    c0-33.581-22.736-62.689-55.29-70.782c-0.136-0.034-0.273-0.065-0.411-0.094l-0.786-0.161
                    c10.787-11.083,17.603-26.026,18.153-42.534c0.468,0.901,1.069,1.736,1.8,2.467c11.289,11.289,26.113,16.932,40.942,16.932
                    c14.826,0,29.656-5.646,40.943-16.932c1.875-1.875,2.929-4.419,2.929-7.071V271.6l20.848,4.648
                    C465.549,285.725,492,319.633,492,358.749V465.713z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M263.633,468.641c-1.87-1.86-4.44-2.93-7.08-2.93c-2.63,0-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07
                    s1.07,5.21,2.93,7.07c1.87,1.869,4.44,2.93,7.07,2.93s5.21-1.061,7.08-2.93c1.86-1.86,2.92-4.44,2.92-7.07
                    S265.493,470.501,263.633,468.641z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M395.811,179.405c-2.895-4.704-9.055-6.171-13.757-3.275l-0.531,0.328c-4.691,2.915-6.131,9.08-3.217,13.771
                    c1.894,3.049,5.161,4.724,8.503,4.724c1.802,0,3.625-0.486,5.268-1.507l0.458-0.283
                    C397.239,190.268,398.705,184.109,395.811,179.405z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M343.144,179.405c-2.894-4.704-9.054-6.171-13.757-3.275l-0.531,0.328c-4.691,2.915-6.131,9.08-3.217,13.771
                    c1.894,3.049,5.161,4.724,8.503,4.724c1.802,0,3.625-0.486,5.268-1.507l0.458-0.283
                    C344.572,190.268,346.038,184.109,343.144,179.405z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M185.174,184.405c-2.896-4.704-9.055-6.171-13.758-3.275l-0.531,0.328c-4.691,2.915-6.131,9.08-3.217,13.771
                    c1.895,3.049,5.161,4.724,8.504,4.724c1.802,0,3.625-0.486,5.268-1.507l0.458-0.283
                    C186.602,195.268,188.068,189.109,185.174,184.405z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M132.513,184.417c-2.886-4.707-9.044-6.181-13.752-3.294l-0.543,0.335c-4.691,2.915-6.131,9.08-3.217,13.771
                    c1.894,3.049,5.161,4.724,8.503,4.724c1.802,0,3.625-0.486,5.268-1.507l0.448-0.276
                    C133.927,195.281,135.402,189.124,132.513,184.417z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M162.249,215.784c-2.442-4.536-7.883-6.426-12.552-4.532c-4.668-1.894-10.11-0.004-12.552,4.532
                    c-2.618,4.863-0.798,10.928,4.065,13.546c2.596,1.397,5.531,2.136,8.487,2.136s5.891-0.738,8.487-2.136
                    C163.047,226.712,164.867,220.647,162.249,215.784z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M80.831,76.729c-3.932-3.879-10.293-3.806-14.173,0.125c-3.905,3.905-3.905,10.237,0,14.143
                    c1.953,1.951,4.513,2.928,7.072,2.928c2.559,0,5.119-0.977,7.071-2.929l0.155-0.156C84.835,86.908,84.762,80.609,80.831,76.729z"></path>
                </g>
              </g>
              <g>
                <g>
                  <path d="M374.813,215.784c-2.442-4.536-7.884-6.426-12.552-4.532c-4.668-1.894-10.11-0.004-12.552,4.532
                    c-2.618,4.863-0.798,10.928,4.065,13.546c2.596,1.397,5.531,2.136,8.487,2.136s5.891-0.738,8.487-2.136
                    C375.611,226.712,377.431,220.647,374.813,215.784z"></path>
                </g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              </svg>
          </div>
          <h3 class="text-xl font-bold mb-3">Terapia Familiar y de Pareja</h3>
          <p class="text-gray-700 mb-4">
            Un espacio para comprender, transformar y volver a elegirse
          </p>
          <a href="/servicios/terapia-familiar-y-de-pareja" class="text-primary-600 font-medium hover:text-primary-700">
            Ver más →
          </a>
        </div>
        
        <div class="card text-center p-8">
          <div class="w-20 h-20 mx-auto mb-4 rounded-full bg-accent-100 flex items-center justify-center">
            <svg version="1.1" id="Solid_Line" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <path d="M504.184,272c0.05-0.013,0.084-0.05,0.134-0.063c4.268-0.175,7.769-3.619,7.769-7.929c0-4.414-3.492-7.984-7.91-7.984
                C501.922,255.281,496,245.547,496,228c0-17.602,5.926-27.281,8.184-28c0.041-0.01,0.069-0.042,0.11-0.052
                c3.874-0.143,7.183-3.041,7.652-7.01c0.516-4.391-2.621-8.367-7.012-8.883l-257.832-30.32c-10.023-1.188-20.184-1.188-30.215,0
                l-185.84,22.32c-0.044,0.005-0.078,0.034-0.123,0.041C15.881,177.097,8,198.646,8,220c0,13.759,3.276,27.599,9.622,35.988
                C11.271,264.377,8,278.236,8,292c0,13.161,3.005,26.393,8.821,34.863C5.749,337.981,0,361.059,0,384
                c0,31.539,10.809,63.461,31.469,63.992l271.594,31.953c0.312,0.039,0.625,0.055,0.938,0.055c0.32,0,0.637-0.016,0.953-0.055
                L368,472.379V504c0,3.594,2.398,6.75,5.863,7.711c0.711,0.195,1.426,0.289,2.137,0.289c2.758,0,5.387-1.43,6.859-3.883
                l17.879-29.797l16.863,22.477c2.066,2.758,5.66,3.891,8.93,2.789C429.797,502.5,432,499.445,432,496v-31.299l72.953-8.756
                c4.203-0.508,7.285-4.195,7.031-8.422c-0.25-4.227-3.75-7.523-7.984-7.523c-5.641,0-16-18.227-16-48c0-29.523,9.824-46.609,16-48
                c4.418,0,8.086-3.57,8.086-7.992c0-4.109-3.031-7.492-7.016-7.938c-0.312-0.039-0.633-0.062-0.953-0.07
                c-2.293-0.883-8.117-10.594-8.117-28C496,282.398,501.926,272.719,504.184,272z M486.057,258.122l-181.97,21.809
                C301.771,279.006,296,269.388,296,252c0-17.547,5.922-27.281,8-28c0.001,0,0.003-0.001,0.005-0.001
                c0.315-0.001,0.629-0.015,0.948-0.054l179.229-21.479C481.395,210.136,480,219.217,480,228
                C480,238.9,482.05,249.864,486.057,258.122z M218.781,169.625c8.766-1.047,17.664-1.031,26.445,0l191.036,22.464l-132.278,15.853
                l-193.848-22.849c-0.023-0.003-0.043,0.008-0.067,0.005c-0.005,0-0.01-0.004-0.015-0.005l-10.152-1.19L218.781,169.625z
                M284.2,277.587l-173.142-20.314C109.167,250.681,108,241.56,108,232c0-5.211,0.309-10.25,0.918-14.977
                c0.55-4.253-2.378-8.093-6.556-8.84c0.635-2.875,1.389-5.407,2.229-7.621l3.596,0.422c0.021,0.002,0.039-0.007,0.06-0.005
                c0.005,0,0.009,0.004,0.015,0.005l177.762,20.953C282.039,230.188,280,241.125,280,252C280,260.803,281.399,269.907,284.2,277.587z
                M31.895,192.039l28.867,3.385C58.067,203.24,56,213.132,56,224c0,10.013,1.089,19.406,2.984,27.112l-26.809-3.089
                C29.922,247.281,24,237.547,24,220C24,202.734,29.73,193.039,31.895,192.039z M31.935,264.047l37.898,4.418
                c0.132,0.022,0.236,0.105,0.37,0.121l135.406,15.888c-0.533,1.238-1.042,2.545-1.532,3.929c-0.159-0.047-0.277-0.162-0.441-0.2
                c-4.289-0.977-8.602,1.688-9.598,6C192.688,300.07,192,306.055,192,312c0,10.044,1.258,19.404,3.482,27.18L96.38,327.555
                c-0.06-0.003-0.115-0.019-0.175-0.021l-31.889-3.741c-0.069-0.003-0.133-0.022-0.202-0.023l-31.938-3.747
                C29.922,319.281,24,309.547,24,292C24,274.604,29.811,264.914,31.935,264.047z M32.938,432.055C32.629,432.016,32.312,432,32,432
                c-5.641,0-16-18.227-16-48c0-29.586,10.22-47.729,15.884-47.958l18.188,2.137c-6.179,12.812-9.911,31.442-9.911,51.898
                c0,16.261,2.361,31.517,6.474,43.588L32.938,432.055z M96.694,439.556c-5.296-10.517-8.534-27.48-8.534-45.634
                c0-23.411,5.309-41.806,11.138-49.958l108.5,12.75c0.237,0.021,0.459,0.145,0.697,0.145c0.062,0,0.122-0.031,0.184-0.033
                c-5.47,12.744-8.68,30.447-8.68,49.494c0,17.509,2.742,33.821,7.41,46.262L96.694,439.556z M280.797,461.216l-22.504-2.647
                C252.936,450.042,248,432.622,248,409.68c0-19.112,3.554-36.883,9.226-47.156l26.338,3.095C275.943,377.951,272,397.021,272,416
                C272,431.677,274.835,448.674,280.797,461.216z M284.2,349.587l-38.625-4.531C243.365,338.51,242,329.452,242,320
                c0-15.893,3.332-26.491,5.852-30.569l38.194,4.481C282.049,302.167,280,313.112,280,324C280,332.803,281.399,341.907,284.2,349.587z
                M432,448.582v-47.874l5.027-0.606c4.387-0.523,7.52-4.508,6.992-8.898c-0.52-4.383-4.59-7.531-8.891-6.992l-12.022,1.451
                c-0.021,0.002-0.039-0.008-0.06-0.006l-48,5.758c-0.087,0.011-0.157,0.064-0.244,0.077l-9.975,1.204
                c-4.387,0.516-7.527,4.492-7.012,8.883c0.477,4.07,3.934,7.062,7.934,7.062c0.312,0,0.629-0.016,0.945-0.055l1.305-0.157v47.832
                l-64.008,7.685l-0.706-0.083C297.779,462.525,288,445.461,288,416c0-29.773,10.359-48,16-48c0.316,0,0.637-0.016,0.953-0.055
                l175.853-21.082C474.859,359.4,472,376.337,472,392c0,18.961,3.91,38.07,11.516,50.398L432,448.582z M304.09,351.933
                c-2.313-0.919-8.09-10.54-8.09-27.933c0-17.547,5.922-27.281,8-28c0.316,0,0.637-0.016,0.953-0.055l179.229-21.479
                C481.395,282.136,480,291.217,480,300c0,10.96,2.19,21.82,6.242,30.093L304.09,351.933z"></path>
              </svg>
          </div>
          <h3 class="text-xl font-bold mb-3">Orientación Vocacional y Educativa</h3>
          <p class="text-gray-700 mb-4">
            Acompañamiento profesional para elegir con conciencia y confianza
          </p>
          <a href="/servicios/orientacion-vocacional-y-educativa" class="text-primary-600 font-medium hover:text-primary-700">
            Ver más →
          </a>
        </div>
      </div>
      
      <!-- <div class="mt-12 text-center">
        <Button href="/ministries" variant="outline">
          View All Ministries
        </Button>
      </div> -->
    </div>
  </section>

  <Comments />
  
  <!-- Events Section -->
  <!-- <EventList /> -->
  
  <!-- WorkshopList Section -->
  <WorkshopList />
  

  
</BaseLayout>