---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-xl font-bold text-primary-800 font-serif flex items-center">
      <img 
        src="uploads/logo-base.jpeg" 
        alt="Psicóloga Alicia López" 
        class="h-20 w-auto"
      />
      <span class="text-primary-800"> 
        Alicia López Piña
        <br/>
        Psícologa y Terapeuta
      
      </span>
    </a>
    
    <Navigation />
  </div>
</header>